OnlineFood_APP2/src/conf/xml-resources/web-service-references/MyWebService/wsdl/localhost_8080/OnlineFood_WS/MyWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicepack/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicepack/" name="MyWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicepack/" schemaLocation="http://localhost:8080/OnlineFood_WS/MyWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getOrder">
<part name="parameters" element="tns:getOrder"/>
</message>
<message name="getOrderResponse">
<part name="parameters" element="tns:getOrderResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="getAllOrderReformed">
<part name="parameters" element="tns:getAllOrderReformed"/>
</message>
<message name="getAllOrderReformedResponse">
<part name="parameters" element="tns:getAllOrderReformedResponse"/>
</message>
<message name="signin">
<part name="parameters" element="tns:signin"/>
</message>
<message name="signinResponse">
<part name="parameters" element="tns:signinResponse"/>
</message>
<message name="getAllOrders">
<part name="parameters" element="tns:getAllOrders"/>
</message>
<message name="getAllOrdersResponse">
<part name="parameters" element="tns:getAllOrdersResponse"/>
</message>
<message name="setReceived">
<part name="parameters" element="tns:setReceived"/>
</message>
<message name="setReceivedResponse">
<part name="parameters" element="tns:setReceivedResponse"/>
</message>
<message name="getTotalPrice">
<part name="parameters" element="tns:getTotalPrice"/>
</message>
<message name="getTotalPriceResponse">
<part name="parameters" element="tns:getTotalPriceResponse"/>
</message>
<message name="getOrderReformed">
<part name="parameters" element="tns:getOrderReformed"/>
</message>
<message name="getOrderReformedResponse">
<part name="parameters" element="tns:getOrderReformedResponse"/>
</message>
<message name="setOrder">
<part name="parameters" element="tns:setOrder"/>
</message>
<message name="setOrderResponse">
<part name="parameters" element="tns:setOrderResponse"/>
</message>
<message name="setOrderDetail">
<part name="parameters" element="tns:setOrderDetail"/>
</message>
<message name="setOrderDetailResponse">
<part name="parameters" element="tns:setOrderDetailResponse"/>
</message>
<message name="getFoodsHome">
<part name="parameters" element="tns:getFoodsHome"/>
</message>
<message name="getFoodsHomeResponse">
<part name="parameters" element="tns:getFoodsHomeResponse"/>
</message>
<message name="setSend">
<part name="parameters" element="tns:setSend"/>
</message>
<message name="setSendResponse">
<part name="parameters" element="tns:setSendResponse"/>
</message>
<message name="setAvaluable">
<part name="parameters" element="tns:setAvaluable"/>
</message>
<message name="setAvaluableResponse">
<part name="parameters" element="tns:setAvaluableResponse"/>
</message>
<message name="deleteFood">
<part name="parameters" element="tns:deleteFood"/>
</message>
<message name="deleteFoodResponse">
<part name="parameters" element="tns:deleteFoodResponse"/>
</message>
<message name="addFood">
<part name="parameters" element="tns:addFood"/>
</message>
<message name="addFoodResponse">
<part name="parameters" element="tns:addFoodResponse"/>
</message>
<portType name="MyWebService">
<operation name="getOrder">
<input wsam:Action="http://servicepack/MyWebService/getOrderRequest" message="tns:getOrder"/>
<output wsam:Action="http://servicepack/MyWebService/getOrderResponse" message="tns:getOrderResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://servicepack/MyWebService/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://servicepack/MyWebService/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="getAllOrderReformed">
<input wsam:Action="http://servicepack/MyWebService/getAllOrderReformedRequest" message="tns:getAllOrderReformed"/>
<output wsam:Action="http://servicepack/MyWebService/getAllOrderReformedResponse" message="tns:getAllOrderReformedResponse"/>
</operation>
<operation name="signin">
<input wsam:Action="http://servicepack/MyWebService/signinRequest" message="tns:signin"/>
<output wsam:Action="http://servicepack/MyWebService/signinResponse" message="tns:signinResponse"/>
</operation>
<operation name="getAllOrders">
<input wsam:Action="http://servicepack/MyWebService/getAllOrdersRequest" message="tns:getAllOrders"/>
<output wsam:Action="http://servicepack/MyWebService/getAllOrdersResponse" message="tns:getAllOrdersResponse"/>
</operation>
<operation name="setReceived">
<input wsam:Action="http://servicepack/MyWebService/setReceivedRequest" message="tns:setReceived"/>
<output wsam:Action="http://servicepack/MyWebService/setReceivedResponse" message="tns:setReceivedResponse"/>
</operation>
<operation name="getTotalPrice">
<input wsam:Action="http://servicepack/MyWebService/getTotalPriceRequest" message="tns:getTotalPrice"/>
<output wsam:Action="http://servicepack/MyWebService/getTotalPriceResponse" message="tns:getTotalPriceResponse"/>
</operation>
<operation name="getOrderReformed">
<input wsam:Action="http://servicepack/MyWebService/getOrderReformedRequest" message="tns:getOrderReformed"/>
<output wsam:Action="http://servicepack/MyWebService/getOrderReformedResponse" message="tns:getOrderReformedResponse"/>
</operation>
<operation name="setOrder">
<input wsam:Action="http://servicepack/MyWebService/setOrderRequest" message="tns:setOrder"/>
<output wsam:Action="http://servicepack/MyWebService/setOrderResponse" message="tns:setOrderResponse"/>
</operation>
<operation name="setOrderDetail">
<input wsam:Action="http://servicepack/MyWebService/setOrderDetailRequest" message="tns:setOrderDetail"/>
<output wsam:Action="http://servicepack/MyWebService/setOrderDetailResponse" message="tns:setOrderDetailResponse"/>
</operation>
<operation name="getFoodsHome">
<input wsam:Action="http://servicepack/MyWebService/getFoodsHomeRequest" message="tns:getFoodsHome"/>
<output wsam:Action="http://servicepack/MyWebService/getFoodsHomeResponse" message="tns:getFoodsHomeResponse"/>
</operation>
<operation name="setSend">
<input wsam:Action="http://servicepack/MyWebService/setSendRequest" message="tns:setSend"/>
<output wsam:Action="http://servicepack/MyWebService/setSendResponse" message="tns:setSendResponse"/>
</operation>
<operation name="setAvaluable">
<input wsam:Action="http://servicepack/MyWebService/setAvaluableRequest" message="tns:setAvaluable"/>
<output wsam:Action="http://servicepack/MyWebService/setAvaluableResponse" message="tns:setAvaluableResponse"/>
</operation>
<operation name="deleteFood">
<input wsam:Action="http://servicepack/MyWebService/deleteFoodRequest" message="tns:deleteFood"/>
<output wsam:Action="http://servicepack/MyWebService/deleteFoodResponse" message="tns:deleteFoodResponse"/>
</operation>
<operation name="addFood">
<input wsam:Action="http://servicepack/MyWebService/addFoodRequest" message="tns:addFood"/>
<output wsam:Action="http://servicepack/MyWebService/addFoodResponse" message="tns:addFoodResponse"/>
</operation>
</portType>
<binding name="MyWebServicePortBinding" type="tns:MyWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllOrderReformed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="signin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setReceived">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrderReformed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setOrderDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFoodsHome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setSend">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setAvaluable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteFood">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addFood">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MyWebService">
<port name="MyWebServicePort" binding="tns:MyWebServicePortBinding">
<soap:address location="http://localhost:8080/OnlineFood_WS/MyWebService"/>
</port>
</service>
</definitions>